---
import styles from "../assets/styles/Home.module.scss";
---
	<header class={styles.header}>
        <a href="/">
		    <h1 class={styles.siteTitle}>P4rth's Blogs</h1>
        </a>
		<nav class={styles.nav}>
			<a href="/">Home</a>
			<a href="/blogs">Blogs</a>
			<a href="/contact">Contact</a>
			<a href="/about">About</a>
		</nav>
	</header>